/* filepath: c:\Users\giova\Documents\BelugaWatch\front-end\src\styles\Education.css */
.education-page {
  background: linear-gradient(to bottom, #e0f7fa, #b2ebf2);
  font-family: 'Poppins', sans-serif;
  color: #004d40;
  min-height: 100vh;
  padding: 20px;
  padding-top: 100px; /* Adjust this value based on the height of your navbar */
}

.education-header {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(135deg, #004d40, #00796b);
  color: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.education-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.education-header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.education-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}